@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witam</h1>
    <p>Aplikacja powstała w jeden wieczór na potrzeby zajęć, proszę o wyrozumiałość 🙏</p>
</div>